@import url("https://marksheet.io/css/reset.css");

/ *
  ## Device = Рабочие столы
  ## Screen = 1281px для настольных компьютеров с более высоким разрешением
* /

@media ( min-width : 1281 px ) {

  / / CSS

}

/ *
  ## Device = Ноутбуки, Рабочие столы
  ## Экран = ч / б от 1025 до 1280 пикселей
* /

@media ( минимальная ширина : 1025 пикселей ) и ( максимальная ширина : 1280 пикселей ) {

  / / CSS

}

/ *
  ## Устройство = планшеты, iPad (портрет)
  ## Экран = ч / б от 768 до 1024 пикселей
* /

@media ( минимальная ширина : 768 пикселей ) и ( максимальная ширина : 1024 пикселей ) {

  / / CSS

}

/ *
  ## Устройство = планшеты, iPad (альбомная)
  ## Экран = ч / б от 768 до 1024 пикселей
* /

@media ( минимальная ширина : 768 пикселей ) и ( максимальная ширина : 1024 пикселей ) и ( ориентация : альбомная) {

  / / CSS

}

/ *
  ## Устройство = планшеты с низким разрешением, мобильные телефоны (ландшафт)
  ## Экран = ч / б от 481 до 767 пикселей
* /

@media ( минимальная ширина : 481 пикселей ) и ( максимальная ширина : 767 пикселей ) {

  / / CSS

}

/ *
  ## Устройство = большинство смартфонов мобильных телефонов (портрет)
  ## Экран = ч / б от 320 до 479 пикселей
* /

@media ( минимальная ширина : 320 пикселей ) и ( максимальная ширина : 480 пикселей ) {

  / / CSS

}
.contair {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /*обозначаем, что это flex-контейнер*/
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

h1 {
    font-size: 20;
    color: darkgoldenrod;
}
